body {
  background-color: #f8f9fa;
}

.btn-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

.btn-a {
  background-color: #540080;
}

.btn-a:hover {
  background-color: #540080 !important;
}

.btn-c {
  background-color: #fe0000;
}

.btn-c:hover {
  background-color: #fe0000 !important;
}

.btn-d {
  background-color: #ffa800;
}

.btn-d:hover {
  background-color: #ffa800 !important;
}

.btn-e {
  background-color: #ffff01;
}

.btn-e:hover {
  background-color: #ffff01 !important;
}

.btn-f {
  background-color: #54ff00;
}

.btn-f:hover {
  background-color: #54ff00 !important;
}

.btn-g {
  background-color: #005400;
}

.btn-g:hover {
  background-color: #005400 !important;
}

.btn-h {
  background-color: #ff017e;
}

.btn-h:hover {
  background-color: #ff017e !important;
}

.btn:focus {
  outline: none; /* Entfernt den Fokus-Outline */
  box-shadow: none; /* Entfernt den Fokus-Schatten */
}

/* Media Query für Geräte mit Hover-Unterstützung */
@media (hover: hover) {
  .btn:focus {
    outline: none;
    box-shadow: none;
  }
}

.popup {
  position: fixed; /* Fixiert das Popup am Bildschirmrand */
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Zentriert das Popup horizontal und vertikal */
  background-color: #f8f9fa; /* Hellgrauer Hintergrund */
  padding: 20px;
  border-radius: 5px; /* Abgerundete Ecken */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Schlagschatten */
  z-index: 1000; /* Stellt sicher, dass das Popup über anderen Elementen liegt */
  display: none; /* Versteckt das Popup initial */
  text-align: center; /* Zentriert den Text im Popup */
}

.popup img {
  /* CSS-Regeln für das Bild im Popup */
  max-width: 100%; /* Bild skalieren, damit es in das Popup passt */
  height: auto; /* Höhe automatisch anpassen */
  border-radius: 5px; /* Abgerundete Ecken für das Bild (optional) */
}
